<?xml version="1.0" encoding="utf-8" ?>
<environments>
  <environment name="Local">
    <settings>
      <setting name="WebServer" value="localhost" />
	  
	  <!--Intentionally left blank, to use the login credentials on local box -->
      <setting name="RemoteUserName" value="" />
      <setting name="RemoteUserPassword" value="" />
    </settings>
  </environment>
</environments>